@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    margin: 0;
    background-color: #ab88ff;
    font-family: 'Mulish', sans-serif;
}
.header{
    background-color: #ab88ff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 60px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 40px 0 0 0px;
}
.header__menu li{
    margin: 10px 0;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu--profile{
    margin-right: 8px;
    width: 100px;
}
.header__menu--profile img{
    margin-top: 10px;
    float: left;
}
.header__menu--profile p{
    display: grid;
    text-align: center;
    float: right;
}
